.admin-form {
	display: flex;
	flex-direction: column;
	&__header {
		padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #eceff1;
    border-bottom: 1px solid #cfd8dc;
		font-size: 1.5em;
	}
	&__footer {
		padding: 0.75rem 1.25rem;
    background-color: #eceff1;
    border-top: 1px solid #cfd8dc;
	}
	&__block {
		background-color: white;
		flex: 1 1 auto;
    padding: 1.25rem 3rem;
	}
	&__fieldset {
		margin-bottom: 20px;
		&__title {
			font-size: 1.2em;
			font-weight: 500;
		}
	}
	&__item {
		margin-bottom: 1rem;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: baseline;
		&__label {
			flex-basis: 20%
		}
		&__input {
			flex-basis: 72%;
			display: flex;
			flex-direction: column;
			&__control {
				width: 100%;
				padding: 0.5rem 1rem;
				font-size: 0.875rem;
				line-height: 1.25;
				color: #607d8b;
				background-color: #fff;
				background-image: none;
				background-clip: padding-box;
				border: 1px solid rgba(0, 0, 0, 0.15);
				border-radius: 0;
				transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

			}
		}
		&--upload-image {
			display: flex;
			margin-bottom: 1rem;
			&__label {
				flex-basis: 20%
			}
			&__image {
				margin-right: 20px;
			}
			&__input {
				&__control {
					width: 100%;
					padding: 0.5rem 1rem;
					font-size: 0.875rem;
					line-height: 1.25;
					color: #607d8b;
					background-color: #fff;
					background-image: none;
					background-clip: padding-box;
					border: 1px solid rgba(0, 0, 0, 0.15);
					border-radius: 0;
					transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

				}
			}
		}
		&--checkbox {
			display: flex;
			margin-bottom: 1rem;
			&__label {
				flex-basis: 20%
			}
			&__image {
				flex-basis: 15%
			}
			&__input {
				flex-basis: 30%;
				&__control {
					width: 100%;
					padding: 0.5rem 1rem;
					font-size: 0.875rem;
					line-height: 1.25;
					color: #607d8b;
					background-color: #fff;
					background-image: none;
					background-clip: padding-box;
					border: 1px solid rgba(0, 0, 0, 0.15);
					border-radius: 0;
					transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
				}
				.checkbox-item {
					margin-bottom: 3px;
					input {
						margin-right: 10px;
					}
				}
			}
		}
	}
	
}