.admin-tournament-from {
	.section-list {
		display: flex;
		flex-direction: column;
		&__item {
			margin-bottom: 10px;
			flex-basis: 70%;
			display: flex;
			flex-direction: row;
		}
		&__add-button {
			margin-left: -10px
		}
	}
}